<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Control Interface Settings</h4>
      </div>
      <div class="panel-body">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
