<% if @device.control_template.blank? || @device.control_template == 'default' %>
  <a href="/control/<%= @device.id %>/edit" class="pull-right" id="control-settings" style="font-size: 20px; width: 25px; height: 25px; padding: 0;">
    <span class="glyphicon glyphicon-cog" style="padding: 0 0 0 3px;"></span>
  </a>

  <h1><%= @device.name %> controls</h1>
  <br>
  <%= render 'devices/controls' %>
<% elsif @device.control_template == 'drive' %>

  <table style="border-spacing: 5px; border-collapse: separate;">
    <tr>
      <td></td>
      <td>
        <span class="glyphicon glyphicon-arrow-up control-button"></span>
      </td>
    </tr>
    <tr>
      <td><span class="glyphicon glyphicon-arrow-left control-button"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-arrow-right control-button"></span></td>
    </tr>
    <tr>
      <td></td>
      <td><span class="glyphicon glyphicon-arrow-down control-button"></span></td>
      <td></td>
    </tr>
  </table>

<% end %>
