<a href="/control/<%= @device.id %>" class="pull-right" id="control-settings" style="font-size: 20px; width: 25px; height: 25px; padding: 0;">
  <span class="glyphicon glyphicon-cog" style="padding: 0 0 0 3px;"></span>
</a>

<% if @device.control_template.blank? || @device.control_template == 'default' %>
  <h1><%= @device.name %> controls</h1>
  <br>
  <%= render 'devices/controls' %>
<% end %>
