<h4>Current command:</h4>
<div id="device_status"><br></div>

<br>

<form>
  <div class="checkbox">
    <label><input type="checkbox" id="log_commands_checkbox" checked> Log commands</label>
  </div>
</form>

<pre id="device_logs" class="hide" style="font-size: 12px;"></pre>
