<h4>Most recent command:</h4>
<div id="device_status"></div>

<br>

<form>
  <div class="checkbox">
    <label><input type="checkbox" id="log_commands_checkbox"> Log commands</label>
  </div>
</form>
