<h4 style="margin-top: 0;">
  Current Command
  <div class="pull-right" style="font-size: 12px; text-align: left; width: 100px; margin-top: 5px;">
    Delay: <span id="delay">0 ms</span>
  </div>
</h4>

<pre id="device_status" class="limitos-logs"><span style="color: #00dde359;">(command will appear here)</span></pre>

<br>

<form>
  <div class="checkbox">
    <label><input type="checkbox" id="log_commands_checkbox" checked> Show command stream</label>
  </div>
</form>

<pre id="device_logs" class="hide limitos-logs" style="font-size: 12px;"></pre>
