<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<style>
  .com { color: #9aa3ad; }
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Raspberry Pi Activation Script</h4>
  </div>
  <div class="panel-body" style="padding: 0;">
    <pre class="prettyprint lang-bsh" style="border: none; padding: 15px;"><%= render 'run.text.erb' %></pre>
  </div>
</div>
