<h1>Register your device</h1>
<br>

<%= form_for @registration, url: submit_registration_path do |f| %>
  Registration code: <%= f.text_field :auth_token, autofocus: true %>
  <br><br>
  <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>
<% end %>
