<div class="col-sm-3 col-lg-2" style="border-right: 1px solid #00dde3;">
  <nav class="navbar navbar-default" style="border: none; background-image: none; padding-left: 20px;">
    <h4>Documentation</h4>
    <%= link_to 'Installation', installation_docs_path %>
    <br>
    another option
    <br>
    last option
  </nav>
</div>
