<div class="col-sm-3 col-lg-2">
  <nav class="navbar navbar-default" style="border: none; background-image: none; padding-left: 20px; margin-top: 10px; line-height: 30px;">
    <h4>Documentation</h4>
    <%= link_to 'Installation', installation_docs_path %>
    <br>
    <%= link_to 'Pins', pins_docs_path %>
    <br>
    <%= link_to "I<sup>2</sup>C".html_safe, i2c_docs_path %>
    <br>
    <%= link_to 'Security', security_docs_path %>
    <br>
  </nav>
</div>
