<h2>How Do I Use LimitOS</h2>

<br>

To get started, follow the simple steps in the <a href="/docs/installation">installation documentation</a>.

<br><br>

In under 5 minutes, you can control your device from any desktop or mobile web browser.

<br><br>

For further information you can learn more about configuring your device's <a href="/docs/pins">input and output pins</a>.

<br><br>

See the <a href="/docs/i2c">section about I<sup>2</sup>C</a> to learn how to control an Arduino attached to your Raspberry Pi.

<br><br>

You can also learn more about <a href="/docs/security">LimitOS's security</a>.

<br><br><br><br>
