<style>
  .navbar { margin-bottom: 0; }
</style>

<div class="row">
  <div class="col-sm-3 col-lg-2" style="border-right: 1px solid #00dde3;">
    <nav class="navbar navbar-default" style="border: none; background-image: none; padding-left: 20px;">
      <h4>Documentation</h4>
      side nav
      <br>
      another option
      <br>
      last option
    </nav>
  </div>
  <div class="col-sm-9 col-lg-10">
    docs index
  </div>
</div>
