<h1>Installation</h1>

LimitOS is designed to be installed on a Raspberry Pi.

<br><br>

<h4>Quick start on a Raspberry Pi:</h4>
<%= render 'shared/install_command' %>

<br><br>

<h4>What the installation script does:</h4>
<ol>
  <li>Downloads Node.js</li>
  <li>Adds the LimitOS script</li>
  <li>Registers a new device</li>
</ol>

<br>

<h4>What you'll need:</h4>
<ul>
  <li>A Raspberry Pi with an internet connection</li>
</ul>

<br>

<h4>Detailed installation steps:</h4>
<ol>
  <li>Log in as a root user on your Raspberry Pi (default username is "pi", default password is "raspberry")</li>
  <li>Type (or copy/paste) the following command: curl -sS <%= full_url %>/install | bash</li>
  <li>When you see a registration code appear, go to <a href="https://limitos.com/register">https://limitos.com/register</a> (on any device) and type in your registration code</li>
</ol>

<br>

<h4>Arduino setup:</h4>
LimitOS also be installed on an Arduino that is connected to a Raspberry Pi via I<sup>2</sup>C:
<ol>
  <li>Connect the Arduino to a Raspberry Pi using I<sup>2</sup>C by connecting the ground, SDA, and SCL pins on the Arduino to the same pins on the Raspberry Pi.</li>
  <li>Copy and paste the customized Arduino script from your device page into the Arduino IDE and upload to the device.</li>
</ol>
Please see the <a href="/docs/i2c">I<sup>2</sup>C page</a> for more information.

<br><br>
