<h1>Live Video</h1>

<%= Rails.application.config_for(:limitos)['application_name'] %> can be used to view a live video feed from the <a href="https://www.raspberrypi.org/products/camera-module-v2/">Raspberry Pi Camera Module</a>.

<br><br>

<h3>Tutorial</h3>

Follow the <a href="/tutorials/live_video">live video tutorial</a> to learn how to stream video from your Raspberry Pi.

<br><br>

<h3>Raspian versions</h3>

The necessary video libraries are pre-installed on all versions of <a href="https://www.raspberrypi.org/downloads/raspbian/">Raspian Stretch</a> .

<br><br>

If you're using Raspian Jesse, the necessary libraries are not pre-installed, so you'll have to manually install ffmpeg.

<br><br>

<h3>Setting up the camera</h3>
The camera must be enabled first using the command:
<br>
<pre class="limitos-command" style="margin-top: 10px;">sudo raspi-config</pre>
<br>
Visit the <a href="https://www.raspberrypi.org/documentation/usage/camera/">official documentation</a> for more info.

<br><br><br><br><br><br>
