<h1>Live Video</h1>

LimitOS can be used to view a live video feed from the <a href="https://www.raspberrypi.org/products/camera-module-v2/">Raspberry Pi Camera Module</a>.

<h4>Setting up the camera</h4>
The camera must be enabled first using the command:
<br>
sudo raspi-config
<br>
as documented at https://www.raspberrypi.org/documentation/usage/camera/

<br><br>

Use any version of Raspian Stretch from https://www.raspberrypi.org/downloads/raspbian/

<br><br>

(necessary libraries are not pre-installed on raspian jesse, manually install ffmpeg) 

<br><br><br><br><br><br>
