<div class="col-md-8">
  <h1>Pins</h1>

  <h3>Pin Types</h3>
  <ul>
    <li><b>input</b>: used to receive input from a pin, which can then be output to another pin</li>
    <li><b>digital</b>: adds digital on/off switches to a Raspberry Pi</li>
    <li><b>servo</b>: used for controlling servo motors through an Arduino</li>
  </ul>

  <br>

  <h3>Output Pins</h3>
  Any input pin can have its data redirected to an output pin.
  If the output pin is on another device, edit the device and use the "Broadcast to device" option to specify the device that will receive the output.

  <br><br>

  <h3>Examples</h3>
  <ul>
    <li>To turn a light on or off, use a <b>digital</b> output pin on a Raspberry Pi</li>
    <li>To control a motor via the web, use a <b>servo</b> pin on an Arduino that's attached via I<sup>2</sup>C to a Rasperry Pi</li>
    <li>To use a potentiometer to control a servo, set the potentiometer as an <b>input</b> pin and redirect output to the servo</li>
  </ul>

  <br><br>
  
</div>
