<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <h1>Frequently Asked Questions</h1>

    <br><br>

    <h3>How much does LimitOS cost?</h3>
    LimitOS is free for personal use.  You can either use the publicly available service at https://limitos.com/ or set up your own personal server.
    Please contact us at <a href="mailto:info@limitos.com">info@limitos.com</a> if you need assistance setting up a personal server.
    <br><br>
    For commercial use, LimitOS is $4,995 per month per managed instance.
    Contact us at <a href="mailto:sales@limitos.com">sales@limitos.com</a> for more info.

    <br><br><br>

    <h3>Do I have to sign up to use LimitOS?</h3>
    No, signing up is completely optional.  You can still register and control your devices without signing up.

    <br><br><br>

    <h3>Is LimitOS secure?</h3>
    Yes, all communication to and from the LimitOS webservers, as well as to and from your devices, is encrypted.
    On the web application we always utilize HTTPS (secure HTTP), and when communicating with devices we always utilize WSS (secure websockets).


    <br><br><br>

    <h3>Do you offer consulting for IoT projects?</h3>
    Yes, please contact us at <a href="mailto:consulting@limitos.com">consulting@limitos.com</a> to set up an introductory phone call.

    <br><br>

  </div>
</div>
