<div class="row">
  <div class="col-sm-offset-4 col-sm-4 col-xs-12 text-center">
    <h1 class="limitos-logo">
      Limit<span class="limitos-yellow">OS</span>
    </h1>
    <div>
      control your Internet of Things devices
    </div>
  </div>
</div>

<br><br><br>
<br><br><br>
<br><br>

<div class="row">
  <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center">
    <div class="well" style="font-size: 16px;">
      <h3 style="margin-top: 5px;">What is LimitOS?</h3>
      LimitOS is a real-time operating system for the Internet of Things
      that allows you to send commands to and receive data from your Raspberry Pi and connected Arduinos.
      <br><br>
      No programming required, and setup takes less than 5 minutes.
    </div>
  </div>
</div>

<br><br>

<div id="install" class="row">
  <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center">
    <h4>Install on a Raspberry Pi:</h4>
    <%= render 'shared/install_command' %>
    <div style="font-size: 12px;">(Please see the <a href="/docs/security#install_script">security note</a> about install scripts.)</div>
  </div>
</div>

<br><br><br><br>

<div class="row">
  <div class="col-xs-12 col-md-offset-4 col-md-4" style="border: 1px solid; ">
    <h3>Why Use LimitOS?</h3>
    <ul style="font-size: 18px;">
      <li>Control your IoT devices in real-time</li>
      <li>View a live video feed from your Raspberry Pi</li>
      <li>Secure communication between devices and LimitOS</li>
      <li>No programming required</li>
      <li>No signup required</li>
      <li>Source code <a href="https://github.com/llawlor/LimitOS" target="_blank">available on GitHub</a></li>
    </ul>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
    <h2 style="border-bottom: 1px solid;">Pricing</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-4" style="border-right: 1px solid;">
    <h3>Personal Use</h3>
    <ul>
      <li>LimitOS is free for personal use</li>
      <li>You can also set up your own server and host an installation of LimitOS yourself for personal use</li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-4">
    <h3>Commercial Use</h3>
    <ul>
      <li>$4,995/month per managed LimitOS instance</li>
      <li>Contact us at <a href="mailto:sales@limitos.com">sales@limitos.com</a> for further information</li>
    </ul>
  </div>
</div>

<br><br><br><br>

<canvas id="particle-background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>

<script>
  // when the window is loaded
  window.onload = function() {
    // start the particle.js animation
    Particles.init({
      selector: '#particle-background',
      connectParticles: true,
      color: ['#21434b', '#01232B'],
      sizeVariations: 4,
      maxParticles: 70
    });
  };
</script>
