<div class="row">
  <div class="col-sm-offset-4 col-sm-4 col-xs-12 text-center">
    <h1 class="limitos-logo" style="margin-top: 140px; font-size: 72px;">
      Limit<span class="limitos-yellow">OS</span>
    </h1>
    <div>
      control your Internet of Things devices
    </div>
  </div>
</div>

<br><br><br>
<br><br><br>
<br><br>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4 col-xs-12 text-center">
    <div class="alert alert-danger">
      LimitOS is currently in a pre-alpha state.
      <br>
      DO NOT run the installation script below unless you know what you're doing!
    </div>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center">
    <div class="well" style="font-size: 18px;">
      LimitOS allows you to send commands to and receive data from your Raspberry Pi and connected Arduinos.
      There's no programming required, and setup takes less than 5 minutes.
    </div>
  </div>
</div>

<br><br>

<div id="install" class="row">
  <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center">
    <h4>Install on a Raspberry Pi:</h4>
    <%= render 'shared/install_command' %>
    <div style="font-size: 12px;">(Please see the <a href="#security_note">security note</a> about install scripts at the bottom of the page.)</div>
  </div>
</div>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

<div class="row">
  <div class="col-sm-offset-3 col-sm-6 col-xs-12">
    <div id="security_note" class="alert alert-warning">
      <h4>Security Note Regarding Install Scripts</h4>
      Please be careful about installing untrusted scripts directly from the internet using a command that executes automatically as this script does.
      You should always audit the code to understand what it's doing first, which you can do by
      <a href="/install">viewing the code directly</a>.
      (A <a href="/devices/pretty_print_install">nicer version of the code</a> is also available to view via your web browser.)
      <br><br>
      The LimitOS code is also publicly <a href="https://github.com/llawlor/LimitOS">available on GitHub</a> for viewing.
    </div>
  </div>
</div>

<canvas id="particle-background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>

<script>
  // when the window is loaded
  window.onload = function() {
    // start the particle.js animation
    Particles.init({
      selector: '#particle-background',
      connectParticles: true,
      color: ['#a3d6ff', '#cccccc'],
      sizeVariations: 4,
      maxParticles: 60
    });
  };
</script>
