<h1>LimitOS</h1>

<div class="alert alert-danger">
  LimitOS is currently in a pre-alpha state.
  <br>
  Do <b>NOT</b> run the installation script below unless you know what you're doing!
</div>

Install on a Raspberry Pi:
<br>
<pre>curl -sS <%= full_url %>/install | bash</pre>

<br><br>
<%= link_to 'Register a device', register_path %>
