<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">

    <h1>Active Buzzer Tutorial</h1>

    <br><br>

    <h3>Requirements</h3>
    <ul>
      <li>Raspberry Pi connected to the internet</li>
      <li>Circuit materials: active buzzer, breadboard, wires</li>
    </ul>

    <br><br><br>

    <h4>1. Set up the circuit</h4>
    Connect the active buzzer to GPIO pin 4.
    <br><br>
    <%= tutorial_image('tutorials/active_buzzer_circuit.png') %>

    <br><br><br>

    <h4>2. Install LimitOS on the Raspberry Pi</h4>
    Installation is a single command:
    <br>
    <%= render 'shared/install_command' %>
    <br>
    Follow the on-screen instructions to register the device afterwards.
    <br><br>
    <%= tutorial_image('tutorials/limitos_install.gif') %>

    <br><br><br>

    <h4>3. Set up the device on the LimitOS website</h4>
    Add pin 4 as a digital output, and you can then click the "on" or "off" buttons on the website to turn the buzzer on or off.
    <br><br>
    <%= tutorial_image('tutorials/active_buzzer.jpg') %>

    <br><br><br><br>

  </div>
</div>
