<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <h1><%= Rails.application.config_for(:limitos)['application_name'] %> Tutorials</h1>

    <br><br>

    <h4>Use your Raspberry Pi to interact with the real world by following these simple tutorials.</h4>

    <br>

    <h3>Beginner projects</h3>

    <ul class="spaced-list">
      <li><a href="/tutorials/led">Control a light (LED)</a></li>
      <li><a href="/tutorials/button">Receive input from a push button</a></li>
      <li><a href="/tutorials/active_buzzer">Turn an active buzzer on or off</a></li>
    </ul>

    <br>

    <h3>Intermediate projects</h3>

    <ul class="spaced-list">
      <li><a href="/tutorials/live_video">View live video from a camera</a></li>
      <li><a href="/tutorials/rover">Drive a rover (toy car) over the internet</a></li>
    </ul>

    <br>

    <h3>Advanced projects</h3>

    <ul class="spaced-list">
      <li><a href="/tutorials/two_way_audio">Two-way audio devices (static "walkie talkies")</a></li>
    </ul>

  </div>
</div>
