<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">

    <h1>Live Video Tutorial</h1>

    <br><br>

    <h3>Requirements</h3>
    <ul>
      <li>Raspberry Pi connected to the internet</li>
      <li></li>
    </ul>

    <br><br><br>

    <h4>1.</h4>
    

    <br><br><br><br>

  </div>
</div>
