defaults: &defaults
  application_name: 'LimitOS' # global name for the application
  application_name_part_1: 'Limit' # homepage header blue text
  application_name_part_2: 'OS' # homepage header yellow text
  domain: 'limitos.com' # domain for the application
  limitos_client_version: '2018-12-30'  # version of the nodejs install script, updating this will cause connected clients to update their scripts
  video_from_devices_host: 'ws://localhost:8081' # host for video requests originating from devices (cameras)
  video_to_clients_host: 'ws://localhost:8082' # host for video requests going to clients (browsers)
  websocket_server_url: 'ws://localhost:3000/cable' # url of the websocket server

development:
  <<: *defaults
  video_from_devices_host: 'ws://192.168.1.101:8081'
  video_to_clients_host: 'ws://192.168.1.101:8082'
  websocket_server_url: 'ws://192.168.1.101:3000/cable'

test:
  <<: *defaults

production:
  <<: *defaults
  video_from_devices_host: 'wss://limitos.com'
  video_to_clients_host: 'wss://limitos.com'
  websocket_server_url: 'wss://limitos.com/cable'
