/* bootstrap overrides */
a                               { cursor: pointer; font-weight: 600; color: #01232b; background-color: #00dde3; padding: 2px 5px; }
a:hover                         { color: #01232b; background-color: #ffd829; text-decoration: none; }
body                            { font-family: 'Libre Franklin', sans-serif; color: #00dde3; background-color:#01232B; background-image: linear-gradient(#0A2F37 1px, transparent 1px), linear-gradient(90deg, #0A2F37 1px, transparent 1px), linear-gradient(rgba(10,47,55,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(10,47,55,.3) 1px, transparent 1px); background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px; background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px; }
footer                          { padding-bottom: 15px; font-size: 12px; }
footer hr                       { border: 1px solid #eee; }
h1                              { font-weight: 600; }

.alert:hover                    { border-color: #888; }
.alert-danger                   { background-color: rgba(255, 150, 50, 0.1); border-color: #ffd829; color: #ffd829; }
.alert-success                  { background-color: #ededed; border-color: #9d9d9d; color: #464646; }
.alert-warning                  { background-color: rgba(20,57,70,0.5); border-color: #00dde3; color: #00dde3; }
.btn                            { border-radius: 2px; }
.btn-danger                     { background-color: #666; border-color: #999; }
.btn-danger:hover               { background-color: #ff7b0a; }
.btn-default                    { background-color: #f8f8f8; }
.btn-primary                    { background-color: #fff !important; color: #333 !important; border-color: #555 !important; }
.btn-primary:hover              { background-color: #ffd829 !important; color: #fff !important; }
.form-control:focus             { border-color: #555; box-shadow: none; -webkit-box-shadow: none; }
.navbar-default                 { background-color: rgba(20,57,70,0.5); border-color: #00dde3; }
.navbar-default li              { padding: 13px 20px; }
.navbar-default .navbar-brand   { color: #00dde3; padding: 16px 20px; background-color: transparent; }
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus { color: #00dde3; }
.navbar-default .navbar-nav > li > a { color: #01232b; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { background-color: #ffd829; }
.page-header                    { margin: 20px 0; }
.well                           { background-color: transparent; border-color: #00dde3; }

/* custom CSS declarations */
#particle-background            { position: absolute; display: block; top: 0; left: 0; z-index: -1; }
#security_note                  { font-size: 12px; }
#servo_slider .slider-selection { background: #BABABA; }

.limitos-yellow                 { color: #ffd829; }
.limitos-command                { background-color: rgba(20,57,70,0.5); color: #00dde3; display: inline-block; padding: 10px 25px; border: 2px solid #00dde3; }
.limitos-command:hover          { color: #ffd829; border: 2px solid #ffd829; }

@media (min-width: 768px) {
  .navbar-nav > li > a          { padding: 2px 5px; }
}
