<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        Questions? Comments? <a href="mailto:info@limitos.com">info@limitos.com</a>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="copyright">
          &copy; LimitOS <%= Date.today.year %>
        </div>
      </div>
    </div>
  </div>
</footer>
